<p>
	<%= question.title %> - 
	<%= t(:answer) %>: <%= question.answer %> - 
	<%= link_to t(:edit), edit_question_path(question) %> - 
	<%= link_to t(:delete), delete_question_path(question), method: :delete, data: { confirm: "#{t(:are_you_sure)}" } %>
</p>