<center>
	<h1><%= t(:buy_courses) %></h1>

	<p>
		<h3><%= t(:buy_text) %></h3>
	</p>

	<p>
		<%= paypal_url(10) %>
	</p>
	<p>
		<%= paypal_url(15) %>
	</p>
	<p>
		<%= paypal_url(25) %>
	</p>
	<p>
		<%= link_to t(:back), signin_path %>
	</p>
</center>
