<center>
	<h1><%= t(:reset_password) %></h1>

	<div class="row">
		<div class="small-6 large-centered columns">
			<%= form_tag send_password_path do %>
				<%= label_tag :email %>
				<%= text_field_tag :email, nil, required: true %>
				<%= submit_tag value="#{t(:recover)}" %>
			<% end %>
			<br>
			<p><%= link_to t(:back), signin_path %></p>
		</div>
	</div>
</center>