<center><h1><%= t(:exams_adminitration) %></h1></center>
<div class="row">
	<div class="small-6 large-centered columns">
		<p><%= render 'create_exam_form' %></p>
	</div>
</div>
<center>
	<table>
	  <tr>
	    <td><%= t(:position) %></td>
	    <td><%= t(:title) %></td>
	    <td><%= t(:level) %></td>
	    <td><%= t(:numer_of_questions)%></td>
	    <td><%= t(:edit_exam) %></td>
	    <td><%= t(:delete_exam) %></td>
	    <td><%= t(:exam_questions) %></td>
	    <td><%= t(:preview) %></td>
	  </tr>
	<p><%= render @exams %></p>
	</table>
</center>