<center><h1><%= t(:admin_courses) %></h1></center>
<div class="row">
  <div class="small-6 large-centered columns">
		<%= form_for @course, url: create_course_path do |f| %>
			<%= f.label t(:name) %>
			<%= f.text_field :name %>
			<%= f.label t(:image_url) %>
			<%= f.text_field :imageurl %>
			<%= f.label t(:video_url) %>
			<%= f.text_field :videourl %>
			<%= f.label t(:price) %>
			<%= f.number_field :price, max: max_price, step: "0.01" %>
			<%= f.label t(:description) %>
			<%= f.text_area :description %>
			<center><%= f.submit value="#{t(:create_exam)}" %></center>
		<% end %>
	</div>
</div>

<center>
<table>
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:image) %></th>
    <th><%= t(:video) %></th>
    <th><%= t(:price) %></th>
    <th><%= t(:edit) %></th>
    <th><%= t(:delete) %></th>
    <th><%= t(:preview) %></th>
    <th><%= t(:files) %></th>
    <th><%= t(:exams) %></th>
  </tr>
	<%= render @courses %>
</table>
	<p><%= link_to t(:back), admin_path %></p>
</center>