<center><h1><%= t(:edit) %></h1></center>

<div class="row">
	<div class="small-6 large-centered columns">
		<%= form_for @media_file, url: update_media_file_path(@media_file) do |f| %>
			<p>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</p>
			<p>
				<%= f.label :url %>
				<%= f.text_field :url %>
			</p>
			<p>
				<center><%= f.submit t(:edit) %></center>
			</p>
		<% end %>
		<center><p><%= link_to t(:back), show_media_files_path(@media_file.course_id) %></p></center>
	</div>
</div>