<center>
	<h1><%= "#{t(:courses_of)} #{@user.name}"  %></h1>
<div class="row">
	<div class="small-6 large-centered columns">
		<%= form_for @purchased, url: create_purchased_path(@user.id) do |f| %>
			<%= f.label t(:course) %>
			<%= f.collection_select :course_id, Course.all, :id, :name %>
			<%= submit_tag value="#{t(:add_course)}" %>
		<% end %>
	</div>
</div>
	<p/>
	<table>
	  <tr>
	    <th><%= t(:course) %></th>
	    <th><%= t(:delete) %></th>
	  </tr>
	  		<%= render partial: 'purchased_courses' %>
	</table>

	<p><%= link_to t(:back), admin_users_path %></p>
</center>