<%= form_for @answer, url: create_answer_path(@question.id) do |f| %>
<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
</p>
<p>
	<%= f.label :right %>
	<%= f.select :right, options_for_select({ t(:false)=>"0", t(:true)=>"1" }) %>
</p>
<p><%= f.submit t(:add_answer) %></p>
<% end %>
<%= link_to t(:back), exam_questions_path(@question.id) %>