<center><h1><%= t(:new_media_file) %></h1></center>
<div class="row">
	<div class="small-6 large-centered columns">
		<p>
			<%= form_for @media_file, url: create_media_file_path(@course.id) do |f| %>
				<%= f.label :name %>
				<%= f.text_field :name %>
				<%= f.label :url %>
				<%= f.text_field :url %>
				<center><%= f.submit value="#{t(:new_media_file)}" %></center>
			<% end %>
		</p>
		<center>
			<p><%= link_to t(:back), show_media_files_path(@course.id) %></p>
		</center>
	</div>
</div>