<center><h1><%= t(:add_answer) %></h1></center>

<div class="row">
	<div class="small-6 large-centered columns">
		<%= form_for @answer, url: create_answer_path(@question.id) do |f| %>
		<p>
			<%= f.label :title %>
			<%= f.text_field :title %>
		</p>
		<p>
			<%= f.label :right %>
			<%= f.select :right, options_for_select({ t(:false)=>"0", t(:true)=>"1" }) %>
		</p>
		<p><center><%= f.submit t(:add_answer) %></center></p>
		<% end %>
		<center><%= link_to t(:back), exam_questions_path(@question.exam_id) %></center>
	</div>
</div>