<div class="row">
	<div class="small-6 large-centered columns">
<%= form_for @question, url: create_question_path(@exam) do |f| %>
	<p>
		<%= f.label t(:title) %>
		<%= f.text_field :title, required: true %>
	</p>
	<p><center><%= f.submit %></center></p>
<% end %>
	</div>
</div>
<p><center><%= link_to t(:back), exam_questions_path(@exam) %><center></p>