<%= form_for @question, url: create_question_path(@exam) do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title, required: true %>
	</p>
	<p><%= f.submit %></p>
<% end %>
<%= link_to t(:back), exam_questions_path(@exam) %>