<center>
	<h3><%= t(:preview_course) %></h3>
	<h1><%= @course.name %></h1>
	<div><%= youtube_iframe(@course.videourl) unless @course.videourl.empty? %></div>
</center>
<div class="row">
	<div class="small-6 large-centered columns">
			<p><%= @course.description unless @course.description.empty? %></p>
			<p><%= @media_files.inspect %></p>
			<p><center><%= link_to t(:back), admin_courses_path %></center></p>
	</div>
</div>