<h1><%= @exam.title %></h1>

<p><%= youtube_iframe @video %></p>

<p><%= @exam.comment if @exam.comment %></p>

<%= render partial: 'questions_preview' %>

<p><%= link_to t(:back), admin_exams_path %></p>