<center>
	<h1><%= @exam.title %></h1>
	<p><%= youtube_iframe @video %></p>
</center>

<div class="row">
  <div class="small-8 large-centered columns">
		<p><%= @exam.comment if @exam.comment %></p>
	</div>
</div>

<div class="row">
	<div class="small-8 large-centered columns">
		<%= render partial: 'questions_preview' %>
	</div>
</div>
<center><p><%= link_to t(:back), show_exams_path(@exam.course_id) %></p></center>