<tr>
	<td><%= user.name%></td>
	<td><%= user.email%></td>
	<td><%= user.level %></td>
	<td><%= link_to "<center><span class='fi-pencil'></span></center>".html_safe, edit_user_path(user) %></td>
	<td><%= link_to "<center><span class='fi-trash delete-button'></span></center>".html_safe, delete_user_path(user), method: :delete, data: { confirm: "#{t(:are_you_sure)}" } %></td>
</tr>