<p>
	<%= user.name%> - 
	<%= user.email%> - 
	<%= user.level %> - 
	<%= link_to t(:edit_user), edit_user_path(user) %> - 
	<%= link_to t(:delete_user), delete_user_path(user), method: :delete, data: { confirm: "#{t(:are_you_sure)}" } %>
</p>