<div class="row">
	<div class="small-6 large-centered columns">
		<center>
			<h1><%= t(:change_password) %></h1>
		</center>
		<%= form_tag update_password_path do %>
			<p>
				<%= label_tag :old_password %>
				<%= password_field_tag :old_password, nil, required: true %>
			</p>
			<p>
				<%= label_tag :new_password %>
				<%= password_field_tag :new_password, nil, required: true %>
			</p>
			<p>
				<%= label_tag :repeat_new_password %>
				<%= password_field_tag :repeat_new_password, nil, required: true %>
			</p>
			<center><p><%= submit_tag value="#{t(:change_password)}" %></p></center>
		<% end %>
	</div>
</div>