<h1>CHANGE PASSWORD</h1>

<%= form_tag update_password_path do %>
	<p>
		<%= label_tag :old_password %>
		<%= password_field_tag :old_password, nil, required: true %>
	</p>
	<p>
		<%= label_tag :new_password %>
		<%= password_field_tag :new_password, nil, required: true %>
	</p>
	<p>
		<%= label_tag :repeat_new_password %>
		<%= password_field_tag :repeat_new_password, nil, required: true %>
	</p>
	<p><%= submit_tag value="#{t(:change_password)}" %></p>
<% end %>