<h1><%= @user.name %></h1>
<p><%= image_tag "#{avatar_for(@user.gender)}.png", size: "100x100" %></p>
<p>
	<%= @user.email %> - 
	<%= @user.name %> - 
	<%= t(:level) %> : <%= @user.level %> - 
	<%= link_to t(:edit_profile), user_edit_info_path %>
</p>
<p><%= link_to t(:log_out), logout_path %></p>

<%= render partial: 'user_exams' %>