  <tr>
    <td><%= course.name %></td>
    <td><center><%= image_url_icon(course.imageurl) %></center></td>
    <td><center><%= video_url_icon(course.videourl) %></center></td>
    <td><%= course.price %></td>
    <td><center><%= link_to "<span class='fi-pencil'></span>".html_safe, edit_course_path(course.id) %></center></td>
    <td><center><%= link_to "<span class='fi-trash delete-button'></span>".html_safe, delete_course_path(course.id), method: :delete, data: { confirm: "#{t(:are_you_sure)}" } %></center></td>
    <td><%= link_to "<center><span class='fi-magnifying-glass'></span></center>".html_safe, preview_course_path(course.id) %></td>
    <td><%= link_to "<center><span class='fi-photo'></span></center>".html_safe, show_media_files_path(course.id) %></td>
  </tr>
