<p>
	<%= course.name %> - <%= image_url_icon(course.imageurl) %> - <%= video_url_icon(course.videourl) %> - <%= course.price %>
</p>
<p>
	<%= link_to t(:edit_course), edit_course_path(course.id) %> - 
	<%= link_to t(:delete_course), delete_course_path(course.id), method: :delete, data: { confirm: "#{t(:are_you_sure)}" } %> -  
	Add media file - Add exam
</p>